<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
    <title>Preguntas</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" media="only screen and (min-width: 530px) and (min-device-width: 481px)" href="/stylesheets/wide.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" href="/stylesheets/smartphone.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div id="page-wrap">
		<header class="main" id="h1">
            <div class="header__options">
                <% if (!session.user) { %>
                        <form method="get" action="/user" class="inline-form">
                            <span class="right"><input type="submit" value="Sign up"></span>
                        </form>
                        <form method="get" action="/login" class="inline-form">
                            <span class="right"><input type="submit" value="Login"></span>
                        </form>
                <% }
                    else { %>
                        <span><%= session.user.username %></span>
                        <form method="get" action="/user/<%= session.user.id %>/edit" class="inline-form">
                            <input type="submit" value="Settings"></span>
                        </form>
                        <form method="post" action="/logout?_method=delete" class="inline-form">
                            <input type="submit" value="Logout"></span>
                        </form>
                <% } %>
            </div>
            
    		<h2>Quiz<span>: el juego de las preguntas</span></h2>
    	</header>
    	<nav class="main" id="n1" role="navigation">
    		<span><a href="/">Inicio</a></span>
            <span><a href="/quizes">Preguntas</a></span>
            <span><a href="/quizes/statistics">Estadísticas</a></span>
    		<span><a href="/author">Créditos</a></span>
    	</nav>
    	<section class="main" id="s1">
        <% if (errors.length) { %>
            <div id="ErrorMsgs">
                <p>Error:</p>
                <% for (var i in errors) { %>
                    <p><%= errors[i].message %></p>
                <% } %>
            </div>
        <% } %>

    		<div><%- body %></div>
    	</section>
    	<footer class="main" id="f1">
    		<a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un quiz?</a> | 
            <a href="https://github.com/danichk/quiz" target="_blank">Ver en GitHub</a>
    	</footer>
    </div>
</body>
</html>
