<div class="field">
	<input type="text" id="username" name="user[username]" placeholder="Usuario" value="<%= user.username %>" autofocus>
</div>

<div class="field">
	<input type="password" id="password" placeholder="Clave" name="user[password]">
</div>

<div class="actions">
	<input name="submit" type="submit" value="Enviar">
	<a href="/"><input type="button" value="Cancelar"></a>
</div>