<input type="text" id="preg" name="quiz[pregunta]" placeholder="Pregunta" value="<%= quiz.pregunta %>">
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Respuesta" value="<%= quiz.respuesta %>">
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">