<h2>Login</h2>

<form method="post" action="/login">
	<div class="field">
		<input type="text" id="login" name="login" placeholder="Usuario" autofocus>
	</div>

	<div class="field">
		<input type="password" id="password" placeholder="Clave" name="password">
	</div>

	<div class="actions">
		<input name="submit" type="submit" value="Login">
	</div>
</form>